body {
  background-color: #191970;
  background: linear-gradient(#ff5f77, #191970);
  display: flex;
}
/*   */

.container {
  with: 450px;
  margin-left: auto;
  margin-right: auto; 	
  background-color: #d6909b;
  min-height: 650px;
  border-radius: 20px;
  font-family: "Brush Script MT", "Courier New", Arial;
  font-size: 25px;
}
.img {
  margin: 15px;

  float: left;
  width: 200px;
  heigth: 5%;
  border: 10px solid none;
  border-radius: 150px;
}

h2 {
  color: white;
  
   /* isso faz com que os elementos fiquem lado a lado. */
}
h4 {
  color: white;
  
  text-align: center;
  /*float: left;*/
  font-size: 30px;
}
.p {
  margin-top: 0px;
  color: white;
  font-family: "Times New Roman", Arial;
  font-size: 20px;
}

.container-card {
  position: relative;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
}
.container-card .card {
  position: relative;
  max-width: 300px;
  height: 200px;
  background: #fff;
  margin: 25px 8px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  blox-shadow: 0 5px 202px rgba(0, 0, 0, 5);
  transition: 0.3s ease-in-out;
}
.container-card .card:hover {
  height: 380px;
}
.container-card .card .imgBx {
  position: relative;
  width: 290px;
  height: 290px;
  top: -70px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgna(0, 0, 0, 0.2);
}
.container-card .card .imgBx img {
  max-width: 90%;
  border-radius: 4px;
}
.container-card .card .content {
  positive: relative;
  margin-top: -50px;
  padding: 10px 10px;
  text-align: center;
  color: #111;
  visibility: hidden;
  oppacity: 0;
  transition: 0.3s ease-in-out;
}
.container-card .card:hover .content {
  visibility: visible;
  oppacity: 1;
  margin-top: -30px;
  transition-delay: 0.3s;
}